<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div#container {

        }
        div#red {
            width:70px;
            height: 70px;
            background-color: red;
        }
        div#green {
            width:70px;
            height: 70px;
            background-color: green;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>My first Vue.js@v3 APP</h1>
        <p>Counter: {{value}}</p>
        <button v-on:click="increase">Increase Counter</button>
        <button v-on:click="decrease">Decrease Counter</button>
    </div>
    <br>
    <br>
    <br>
    <div id="reverser">
        <input type="text" v-model="message">
        <p>The value of input is: {{message}}</p>
        <button v-on:click="reverseMessage">Reverse Message</button> <span>{{reversedMessage}}</span>
    </div>

    <br>
    <br>
    <br>

    <div id="looper">
        <ul>
            <li v-for="(student, i) in students">
                {{student}} <button v-on:click="removeStd(i)">Remove</button>
            </li>
        </ul>
        <input type="text" v-model="newStudent">
        <button v-on:click="addStd">Add New Student</button>
    </div>

    <br>
    <br>
    <br>

    <div id="conditioner">
        <div id="container">
            <div id="green" v-if="isGreen"></div>
            <div id="red" v-else></div>
            <!-- <div id="red" v-if="!isGreen"></div> -->
        </div>
        <button v-on:click="isGreen = !isGreen">Change to {{ isGreen ? "red" : "green"}}</button>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>
</html>